@page "/"

<PageTitle>Home</PageTitle>
<div class="container">
  @* MAIN TITLE *@
  <div class="main-title-wrapper w-100 bg-blue f-light flex-center flex-column mb-3">
    <h1 class="fs-2 text-center my-3">Formations Professionnelles et Safety Days Prévention en Entreprise</h1>
    <div class="fs-6 w-100 border-top flex-center py-2">
    @for (int i = 0; i < HighlightedElements.Count; i++)
    {
      int j = i;
      <NavLink href="@HighlightedElements[j].Href" class="f-light">
        @HighlightedElements[j].Name
      </NavLink>
      @if (i != HighlightedElements.Count - 1)
      {
        <span class="mx-2 fs-3">-</span>
      }
    }
    </div>
  </div>

  @* CTA *@
  <div class="cta-wrapper bg-purple f-light flex-center p-2 mb-5">
    <div class="cta-icons flex-center flex-column mx-4">
      <NavLink href="@knowMoreLink">
        <Icon Name="IconName.Laptop" Size="IconSize.x5" Color="IconColor.Light" class="fs-1"/>
      </NavLink>
      <NavLink href="@knowMoreLink">
        <Icon Name="IconName.Headset" Size="IconSize.x5" Color="IconColor.Light" class="fs-1"/>
      </NavLink>
    </div>
    <div class="cta-text px-4 border-end border-light me-4">
      <h2 class="fs-3">
        <u>Nouveau !</u> : Nos solutions de formation à distance
      </h2>
      <p class="fs-4 text-justify">
        Nous proposons des <u>formations</u>, des <u>ateliers Safety Day</u> et des <u>conférences</u> à distance (formation distanciel). Pour  avoir plus d'informations, c'est par ici ... 
      <NavLink href="@knowMoreLink" class="f-lightblue">
        EN SAVOIR PLUS
      </NavLink>
      </p>
    </div>
    <div class="cta-video flex-center">
      <iframe width="300" height="180" src="https://www.youtube.com/embed/a12oXbei3YA" title="Découvrez nos formations Prévention à distance - Ecocivicom" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </div>

  @* CAROUSEL *@
  <div id="carouselExampleControls" class="carousel slide mb-5" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="images/home_carousel/bien_etre_sophro_groupe.webp" class="d-block w-100" alt="bien_etre_sophro_groupe">
      </div>
      <div class="carousel-item">
        <img src="images/home_carousel/Fotolia_129213113_XS_Copie.webp" class="d-block w-100" alt="Fotolia_129213113_XS_Copie">
      </div>
      <div class="carousel-item">
        <img src="images/home_carousel/photo_distance_securite_bandeau.webp" class="d-block w-100" alt="photo_distance_securite_bandeau">
      </div>
      <div class="carousel-item">
        <img src="images/home_carousel/photo_VR_Copie.webp" class="d-block w-100" alt="VR">
      </div>
      <div class="carousel-item">
        <img src="images/home_carousel/risque_salaries_usine_Copie.webp" class="d-block w-100" alt="risque_salaries_usine">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  @* ATELIERS & FORMATIONS *@
  <ul class="list-unstyled d-flex align-items-center justify-content-between mb-5">
    @if (@AtelierFormationCards is not null && @AtelierFormationCards.Count > 0)
    {
      @foreach (AtelierFormationCard card in AtelierFormationCards)
      {
        <AtelierFormationCard 
          TitleWithLink=@card.TitleWithLink
          Description=@card.Description
          ImageLink=@card.ImageLink
          ImageAlternativeText=@card.ImageAlternativeText
          MainColor=@card.MainColor
          Links=@card.Links
        />
      }
    }
  </ul>

  @* PRESTATIONS ET INTERVENTIONS *@
  <div id="prestations-interventions-section" class="my-5">
    <div class="pi-card text-center">
      <TitleWithSeparator Name=@SectionTitlePrestations HType=@TitleWithSeparatorHType.H3/>
      <iframe width="300" height="250" src="https://www.youtube.com/embed/z81HZ5jvtsI" title="Présentation Ecocivicom - Formation Risque Routier" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="pi-card text-center">
      <TitleWithSeparator Name=@SectionTitleInterventions HType=@TitleWithSeparatorHType.H3/>
      <img src="images/carte_france_ecocivicom_v2.webp" alt="carte_france_ecocivicom" width="300" height="250">
    </div>
  </div>

  @* NOTRE HISTOIRE *@
  <div class="history text-justify f-lightgray my-4 pt-4">
    <TitleWithSeparator Name=@SectionTitleHistory HType=@TitleWithSeparatorHType.H2/>
    <p class="fs-6">
      Créé en 2008, ECOCIVICOM est un organisme de formation spécialisé dans la prévention des risques, 
      et plus particulièrement sur le  risque routier  et l'éco-conduite. Nos formations en entreprise 
      sont réalisées sur mesure en intra, afin de répondre aux exigences de nos clients. Nous proposons 
      aussi un grand choix d'ateliers pour vos journées sécurité ou Safety Day. Nous utilisons différents 
      matériels de simulation dans l'objectif de rendre ludique nos interventions, et faire adhérer tous 
      nos stagiaires à la prévention des risques.
    </p>
    <p class="fs-6">
      Nous intervenons sur la France entière grâce à notre réseau de formateurs expérimentés, que nous 
      avons recruté au fur-et-à mesure des années.
    </p>
    <h4 class="f-mgray fw-bold fs-5 mt-4 mb-3">
      Les formations à l'éco-conduite et au risque routier
    </h4>
    <p class="fs-6">
      Les formations de sensibilisation au risque routier permettent de réduire le taux de mortalité sur la route. 
      En organisant une formation au risque routier ou à l'éco-conduite, l’employeur remplit ses obligations 
      légales envers ses salariés tout en améliorant leur sécurité. Ecocivicom utilise des simulateurs véhicules 
      légers et 2 roues motorisées, mais propose aussi des formations sur route, qui placent le stagiaire en 
      condition réelle. Celui-ci va pouvoir apprendre les bons réflexes au volant, même dans les situations les 
      plus imprévues. 
    </p>
    <h4 class="f-mgray fw-bold fs-5 mt-4 mb-3">
      Les ateliers de sensibilisation au risque routier dédiés aux Safety Days
    </h4>
    <p class="fs-6">
      Les ateliers de sensibilisation au risque routier se présentent sous forme de sessions courtes. Ils peuvent 
      être organisés en complément d’une action de formation ou pour sensibiliser un plus grand nombre de personnes 
      à la fois. Plusieurs simulateurs (Remorque Test Choc,Voiture Tonneau, Simulateur scooter/moto, simulateur 
      Voiture,...) permettent de prendre conscience des risques et de leurs conséquences. Organiser une session de 
      sensibilisation au risque routier en entreprise permet de créer une véritable prise de conscience au sein du 
      personnel pour faire changer les comportements. 
    </p>
  </div>
</div>

