@using Microsoft.EntityFrameworkCore
@using ecocivicom_blazor_clone.Data

@page "/"

@inject IDbContextFactory<EmployeeDataContext> EmployeeDataContextFactory;

@if (@ShowCreate)
{
  <h3>Add a New Employee</h3>
  <div class="row">
      <label for="FirstName" class="col-4 col-form-label">First Name</label>
      <div class="col-8">
          <input id="FirstName" name="FirstName" type="text" class="form-control" @bind="@NewEmployee.FirstName">
      </div>
  </div>
  <div class="row">
      <label for="LastName" class="col-4 col-form-label">Last Name</label>
      <div class="col-8">
          <input id="LastName" name="LastName" type="text" class="form-control" @bind="@NewEmployee.LastName">
      </div>
  </div>
  <div class="row">
      <label for="Email" class="col-4 col-form-label">Email Address</label>
      <div class="col-8">
          <input id="Email" name="Email" type="text" class="form-control" @bind="@NewEmployee.Email">
      </div>
  </div>
  <div class="row">
      <label for="Department" class="col-4 col-form-label">Department</label>
      <div class="col-8">
          <input id="Department" name="Department" type="text" class="form-control" @bind="@NewEmployee.Department">
      </div>
  </div>
  <div class="form-group row">
      <label for="Avatar" class="col-4 col-form-label">Avatar</label>
      <div class="col-8">
          <input id="Avatar" name="Avatar" type="text" class="form-control" @bind="@NewEmployee.Avatar">
      </div>
  </div>
  <div class="form-group row">
      <div class="offset-4 col-8">
          <button name="submit" type="submit" class="btn btn-primary" @onclick="CreateNewEmployee">Submit</button>
      </div>
  </div>
}
else
{
  <div class="form-group row">
      <div class="offset-4 col-8">
          <button name="submit" type="submit" class="btn btn-primary" @onclick="ShowCreateForm">Add a New Employee</button>
      </div>
  </div>

  <p>SHOW THE LIST</p>
}

<PageTitle>Our Employees</PageTitle>
